{% extends 'landing/base.html' %}
{% load static %}
{% block title %} About | Bingle {% endblock %}

{% block content %}

    <div class="detail-box" style="margin-top: 1rem; margin-bottom: 3rem;">
        <h2 style="margin-bottom: 1rem; font-size: 1.85rem;">
            About Bingle
        </h2>
        <p>
            In Bingle, book enthusiasts can indulge in the joy of physical book reading while leveraging the convenience
            of digital technology. With our user-friendly interface, users can effortlessly swipe through available
            books, selecting their next literary adventure with ease. Whether you're a die-hard bibliophile or simply
            seeking a new page-turner, our app provides access to a diverse collection of books for every taste and
            interest. Say goodbye to the limitations of e-books and embrace the tangible experience of holding a book in
            your hands, immersing yourself in its pages, and savoring the unique scent of ink and paper. Join our
            community of book lovers and rediscover the timeless pleasure of reading with our book lending app.
            Join us in celebrating the magic of physical books and the joy of connecting with fellow book lovers.
        </p>
        <a href="">
            Read More
        </a>
    </div>
</div>
{% endblock %}
