{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="hero_area">
  <section class="slider_section ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5 offset-md-1">
                <div class="detail-box">
                  <h1>
                    Borrow <br>
                    Lend <br>
                    Connect
                  </h1>
                  <p>
                    Hello Bookworms, Are you ready to embark on a literary journey while saving the environment one page at a time and making unforgettable memories with fellow book lovers ?</p>
                  <br>
                  <p>Don't miss out, start your journey here.</p>
                  {% if user.is_authenticated %}
                  <div class="btn-box">
                    <a href="#" class="btn-1">
                      Borrow
                    </a>
                    <a href="#" class="btn-2">
                      Lend
                    </a>
                  </div>
                  {% else %}
                  <div class="btn-box">
                    <a href="{% url 'login_view' %}" class="btn-1">
                      Login
                    </a>
                    <a href=" {% url 'register' %}" class="btn-2">
                      Register
                    </a>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="offset-md-1 col-md-4 img-container">
                <div class="img-box">
                  <img src="{% static 'mainapp/images/p12.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</div>

<section class="experience_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="img-box">
          <img src="{% static 'mainapp/images/experience-img.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
            </h2>
          </div>
          <p>
            Bingle originated from the minds of University of Sussex students, initially as a modest academic project. Yet, it quickly evolved into a beacon of sustainability and community for book lovers. Beyond assessment criteria, it now promotes healthy book exchange, fostering connections and saving budgets.
          </p>
          <div class="btn-box">
            <a href="" class="btn-1">
              Read More
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="hero_area">
  <section class="category_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Meet the Team
        </h2>
      </div>
      <div class="category_container">
        <div class="container content">
          <div class="row">
            <div class="col-md-10 col-lg-9 mx-auto">
              <div class="container">
                <div class="row flex-center">
                  <div class="pull-right sm-no-float col-md-8">
                    <ul class="team-members">
                      <!-- single member row starts -->
                      <li class="clearfix">
                        <div class="member-details">
                          <div>
                            <img src="/static/mainapp/images/Aman.jpg" alt="UI Designer">
                            <div class="member-info">
                              <h3>Aman Thapa Magar</h3>
                              <p>DevOps</p>
                            </div>
                          </div>
                        </div>

                        <div class="member-details">
                          <div>
                            <img src="/static/mainapp/images/Rohan.jpg" alt="UI Designer">
                            <div class="member-info">
                              <h3>Rohan</h3>
                              <p>Back-End</p>
                            </div>
                          </div>
                        </div>

                        <div class="member-details">
                          <div>
                            <img src="/static/mainapp/images/Tom.jpg" alt="UI Designer">
                            <div class="member-info">
                              <h3>Tom</h3>
                              <p>Back-end</p>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="clearfix">
                        <div class="member-details">
                          <div>
                            <img src="/static/mainapp/images/Moka.jpg" alt="UI Designer">
                            <div class="member-info">
                              <h3>Moka</h3>
                              <p>Back-end</p>
                            </div>
                          </div>
                        </div>

                        <div class="member-details">
                          <div>
                            <img src="/static/mainapp/images/Mya.png" alt="UI Designer">
                            <div class="member-info">
                              <h3>Mya</h3>
                              <p>Front-end, QA <br> & Doc</p>
                            </div>
                          </div>
                        </div>

                        <div class="member-details">
                          <div>
                            <img src="/static/mainapp/images/Jawad.png" alt>
                            <div class="member-info">
                              <h3>Jawad</h3>
                              <p>Database</p>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="clearfix">
                        <div class="member-details">
                          <div>
                            <img src="/static/mainapp/images/Rob.png" alt="Back-End">
                            <div class="member-info">
                              <h3>Rob</h3>
                              <p>Back-end</p>
                            </div>
                          </div>
                        </div>

                      </li>

                    </ul>
                  </div>

                  <div class="pull-left col-md-4 sm-text-center">
                    <div class="team-overview">
                      <h2>Who Are We?</h2>
                      <p>We are Group 9</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="img-box">
          <img src="{% static 'mainapp/images/about-img.jpg' %}" alt="" />

        </div>
      </div>
    </div>
    <div class="detail-box">
      <h2>
        What is Bingle ?
      </h2>
      <p>

        Welcome to Bingle, the friendly book lending app designed to make reading a joy for everyone. In a world where not everyone can afford to buy books or has space to store them, Bingle steps in to bridge the gap. Our mission is simple: to share books among readers, reducing waste and promoting environmental sustainability. <br><br>

        But Bingle is more than just a green initiative. It's a cozy corner for those who cherish the tangible experience of holding a book in their hands. Despite the rise of e-books and digital libraries, there's something special about the smell of ink on paper, the weight of a book in your bag, and the satisfaction of turning each page.<br><br>

        In a fast-paced world where everything seems to be digital and on-demand, Bingle invites you to slow down and savor the pleasure of reading. Picture yourself nestled in your favorite spot, whether it's a sunny spot by the window or a comfy armchair by the fireplace, with a steaming cup of tea or coffee at your side. With Bingle, you can immerse yourself in a story, letting the words transport you to new worlds and adventures. <br><br>

        But Bingle isn't just about reading—it's about connecting with others who share your passion for books. Our community is a place where bookworms can come together to share recommendations, discuss their favorite reads, and even make new friends. Whether you're looking for your next literary adventure or eager to share a beloved book with someone else, Bingle is here to help you on your reading journey. <br><br>
        So why not join us at Bingle today? Whether you're a devoted bookworm or just enjoy curling up with a good book now and then, you'll find a warm welcome and endless reading possibilities waiting for you here. Let's rediscover the magic of books together, one page at a time.
      </p>
    </div>
  </div>
</section>

{% endblock %}