{% extends 'landing/base.html' %}
{% load static %}
{% block title %} Search | Bingle {% endblock %}

{% block content %}
<h1> Search Bingle</h1>
    <form class="d-flex hidden" role="search" method="POST"   id="search-form">
     {% csrf_token %}
        <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                name="searchquery"
                required aria-label="Search"
        >
        <button class="btn btn-outline-success" type="submit"  >Search</button>
    </form>

{% if users_profiles %}
    <table class="table" id="user-profile-table">
        <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Location</th>
            <th>Review</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in users_profiles %}
        <tr>
            <td>
                {% if profile.profile_pic %}
                <img class="rounded-circle custom-img-small" src="{{ profile.profile_pic.url }}" alt="Profile Picture" style="max-width: 100px;">
                {% else %}
                <img class="rounded-circle custom-img-small" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Default Profile Picture" style="max-width: 100px;">
                {% endif %}
            </td>
            <td>{{ profile.user.username }}</td>
            <td>{{ profile.current_location }}</td>
            <td>{{ profile.review }}</td>
            <td>
                {% if profile.user == request.user %}
                <a href="{% url 'profile' %}" class="btn btn-primary">View</a>
                {% else %}
                <a href="{% url 'viewprofile' profile.id %}" class="btn btn-primary">View</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
