{% extends 'landing/base.html' %}
{% load static %}

{% block title %} Library | Bingle {% endblock %}

{% block content %}
<h1>Library Books</h1>
<table>
    <thead>
    <tr>
        <th>Book Title</th>
        <th>Book Author</th>
        <th>Current Owner(s)</th>
    </tr>
    </thead>
    <tbody>
    {% for book in library %}
    <tr>
        <td>{{ book.book_title }}</td>
        <td>{{ book.book_author }}</td>
        <td>
            {% for user_book in book.user_books_book.all %}
            {% if user_book.currently_with %}
            {{ user_book.currently_with.user }}
            {% if not forloop.last %}, {% endif %}
            {% else %}
            Not currently owned
            {% endif %}
            {% empty %}
            Not currently owned
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
