{% extends 'landing/base.html' %}
{% load static %}
{% block title %} Search | Bingle {% endblock %}

{% block content %}

    <form class="d-flex" role="search" method="POST">
     {% csrf_token %}
        <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                name="search_query"
                required aria-label="Search"
        >
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    {% if user_profiles %}
        {% for profile in user_profiles %}
             <h2>Search Results for "{{ profile.user.username }}"</h2>
        {% endfor %}
    {% endif %}

{% if user_profiles %}

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Location</th>
            <th>Review</th>
            <th>User profile</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in user_profiles %}
        <tr>
            <td>
                {% if profile.profile_pic %}
                <img class="rounded-circle custom-img-small" src="{{ profile.profile_pic.url }}" alt="Profile Picture" style="max-width: 100px;">
                {% else %}
                <img class="rounded-circle custom-img-small" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Default Profile Picture" style="max-width: 100px;">
                {% endif %}
            </td>
            <td>{{ profile.user.username }}</td>
            <td>{{ profile.current_location }}</td>
            <td>{{ profile.review }}</td>
            <td>
                <a href="{% url 'user_profile' profile.id %}" class="btn btn-primary">View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
