<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    {% load static %}

    <title>BookLender</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="{% static 'mainapp/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'mainapp/css/responsive.css' %}" rel="stylesheet"/>
</head>
<body class="sub_page about-team">
<div class="hero_area">
{% include 'header.html' %}
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto">
            <div class="container">
                <div class="row flex-center">
                    <div class="pull-right sm-no-float col-md-8">
                        <ul class="team-members">
                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="/static/mainapp/images/Aman.jpg" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>Aman Thapa Magar</h3>
                                            <p>Back-End</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="/static/mainapp/images/Rohan.jpg" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>Rohan</h3>
                                            <p>Back-End</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="/static/mainapp/images/Tom.jpg" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>Tom</h3>
                                            <p>Back-end</p>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- /single member row ends -->

                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="/static/mainapp/images/Moka.jpg" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>Moka</h3>
                                            <p>Back-end</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="/static/mainapp/images/Mya.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>Mya</h3>
                                            <p>Front-end ,QA and Documentation</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="/static/mainapp/images/Jawad.png" alt>
                                        <div class="member-info">
                                            <h3>Jawad</h3>
                                            <p>Database</p>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- /single member row ends -->

                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="/static/mainapp/images/Rob.png" alt="Back-End">
                                        <div class="member-info">
                                            <h3>Rob</h3>
                                            <p>Back-end</p>
                                        </div>
                                    </div>
                                </div>

                            </li><!-- /single member row ends -->

                        </ul><!-- /end team-photos -->
                    </div><!-- /end col-md-8 -->

                    <div class="pull-left col-md-4 sm-text-center">
                        <div class="team-overview">
                            <h2>Who Are We?</h2>
                            <a href="#">Meet the Entire Team</a>
                            <p>We are Group - 9.</p>
                        </div><!-- /end of pull right-->
                    </div><!-- /end of role flex-->
                </div><!-- /end container -->
            </div><!-- /end col-md-4 -->
        </div><!-- /end row -->
    </div><!-- /end container -->
    <div class="detail-box" style="margin-top: 1rem; margin-bottom: 3rem;">
        <h2 style="margin-bottom: 1rem; font-size: 1.85rem;">
            About Bingle
        </h2>
        <p>
            In Bingle, book enthusiasts can indulge in the joy of physical book reading while leveraging the convenience
            of digital technology. With our user-friendly interface, users can effortlessly swipe through available
            books, selecting their next literary adventure with ease. Whether you're a die-hard bibliophile or simply
            seeking a new page-turner, our app provides access to a diverse collection of books for every taste and
            interest. Say goodbye to the limitations of e-books and embrace the tangible experience of holding a book in
            your hands, immersing yourself in its pages, and savoring the unique scent of ink and paper. Join our
            community of book lovers and rediscover the timeless pleasure of reading with our book lending app.
            Join us in celebrating the magic of physical books and the joy of connecting with fellow book lovers.
        </p>
        <a href="">
            Read More
        </a>
    </div>
</div>
</section>

<!-- end about section -->

<!-- info section -->
{% include 'footer.html' %}


<!-- end info section -->

<!-- footer section -->

<!-- end  footer section -->


<script src="{% static 'mainapp/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'mainapp/js/bootstrap.js' %}"></script>
<script src="{% static 'mainapp/js/custom.js' %}"></script>


</body>

</html>