<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  {% load static %}

  <title>BookLender</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'mainapp/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'mainapp/css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    {% include 'header.html' %}

    <!-- end header section -->
  </div>

  <!-- category section -->

  <section class="content category_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Category
        </h2>
      </div>
      <div class="category_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static 'mainapp/images/c1.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Design & Arts
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'mainapp/images/c2.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Web Development
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'mainapp/images/c3.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              SEO Markting
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'mainapp/images/c4.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Video Edting
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'mainapp/images/c5.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Logo Design
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'mainapp/images/c6.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              Game Design
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end category section -->
  {% include 'footer.html' %}

  <script src="{% static 'mainapp/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'mainapp/js/bootstrap.js' %}"></script>
  <script src="{% static 'mainapp/js/custom.js' %}"></script>

</body>
</body>

</html>