{% load static %}
<section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="{% static 'mainapp/images/Bingle-logos.jpeg' %}" alt="" />
            <span>
              Bingle
            </span>
          </div>
          <div class="social_box">
            <a href="#">
              <img src="mainapp/static/images/fb.png" alt="">
            </a>
            <a href="#">
              <img src="mainapp/static/images/twitter.png" alt="">
            </a>
            <a href="#">
              <img src="mainapp/static/images/linkedin.png" alt="">
            </a>
            <a href="#">
              <img src="mainapp/static/images/instagram.png" alt="">
            </a>
            <a href="#">
              <img src="mainapp/static/images/youtube.png" alt="">
            </a>
          </div>
        </div>

        <div class="info_main">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <div class="info_link-box">
                <h5>
                  Useful Link
                </h5>
                <ul>
                  <li class=" active">
                    <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="about.html">About </a>
                  </li>
                  <li class="">
                    <a class="" href="work.html">Work </a>
                  </li>
                  <li class="">
                    <a class="" href="category.html">Category </a>
                  </li>
                  <li class="">
                    <a class="" href="profile_page.html">Profile </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 ">
              <h5>
                Offices
              </h5>
              <p>
                University of Sussex, Brighton, United Kingdom
              </p>
            </div>

            <div class="col-md-3 col-lg-2 offset-lg-1">
              <h5>
                Information
              </h5>
              <p>
                Welcome to our book lending app. Join our community today and embark on a literary adventure like never before.
              </p>
            </div>

            <div class="col-md-3  offset-lg-1">
              <div class="info_form ">
                <h5>
                  Newsletter
                </h5>
                <form action="">
                  <input type="email" placeholder="Email">
                  <button>
                    Subscribe
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayDate"></span> All Rights Reserved By
        <a href="https://html.design/">Bingle</a>
      </p>
    </div>
  </footer>

  <script src="{% static 'mainapp/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'mainapp/js/bootstrap.js' %}"></script>
  <script src="{% static 'mainapp/js/custom.js' %}"></script>