<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lend</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="{% static 'mainapp/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'mainapp/css/responsive.css' %}" rel="stylesheet" />
</head>
<body class="sub_page">
<div class="hero_area">
{% include 'header.html' %}
</div>
<div class="content">
<h1>This is Lend Page.</h1>
</div>
{% include 'footer.html' %}
<script src="{% static 'mainapp/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'mainapp/js/bootstrap.js' %}"></script>
<script src="{% static 'mainapp/js/custom.js' %}"></script>
</body>
</html>