<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Profile Picture</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ uploadpic.as_p }}
        <button type="submit">Upload</button>
    </form>

<!--    {% if img_obj %}-->
<!--&lt;!&ndash;        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>&ndash;&gt;-->
<!--        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">-->
<!--    {% endif %}-->
</body>
</html>