{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Profile | Bingle {% endblock %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'new_home' %}">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">My Profile</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">My Profile</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Personal Information</h5>
            </div>
            <div class="card-body">
                <div class="mb-6 mb-xl-0">
                    <div class="card-body">
                        <div class="col-sm-auto text-center">
                            <div class="position-relative me-3 d-inline-flex">
                                <div class="position-absolute top-50 start-100 translate-middle">
                                    <button class="btn btn-sm btn-primary btn-icon" onclick="openUploadModal('picture-modal')">
                                        <i class="ti ti-pencil"></i>
                                    </button>
                                </div>
                                {% if user_profile.profile_pic %}
                                <img class="rounded-circle user-avtar wid-150 hei-150"
                                     src="{{ user_profile.profile_pic.url }}" alt="Profile Picture">
                                {% else %}
                                <img class="rounded-circle user-avtar wid-150 hei-150"
                                     src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                {% endif %}
                                <!-- Profile picture image-->
                                <div id="picture-modal" class="modal">
                                    <div class="modal-content">
                                        <form id="upload-form" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <label class="large mb-1" for="profile_pic">Profile Picture:</label><br>
                                            <input type="file" id="profile_pic" name="profile_pic" accept="image/*">
                                            <button id="upload-btn" class="btn btn-primary" type="button">Upload
                                            </button>
                                        </form>
                                        <button class="btn btn-primary" onclick="closeModal('picture-modal')">Close
                                        </button>
                                        <p id="error-message" style="color: red;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-center text-muted mb-4">JPG or PNG no larger than 5 MB
                        </div>

                    </div>
                </div>
                <form method="post" action="/update-profile/">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        <div class="mb-6">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" name="inputFirstName" id="inputFirstName"
                                   type="text" placeholder="Enter your first name"
                                   value={{ user.first_name }}>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-6">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="inputLastName" id="inputLastName"
                                   type="text" placeholder="Enter your last name"
                                   value={{ user.last_name }}>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="inputUserName" id="inputUsername"
                                   type="text" placeholder="Enter your username"
                                   value={{ user.username }}>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Birthday</label>
                            <div>{{ user_profile.birth_date }}</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label class="form-label">Contact Phone</label>
                            <input type="text" class="form-control" name="inputPhone"
                                   id="inputPhone" type="tel"
                                   placeholder="Enter your phone number"
                                   value={{ user_profile.phone_number }}>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label class="form-label">
                                Email <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="inputEmailAddress"
                                   id="inputEmailAddress"
                                   type="email"
                                   placeholder="Enter your email address"
                                   value={{ user.email }}>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label class="form-label">Location</label>
                            <input type="text" class="form-control" name="inputLocation"
                                   id="inputLocation"
                                   type="text" placeholder="Enter your location"
                                   value={{ user_profile.primary_location }}>
                        </div>
                    </div>
                    <div class="col-12 text-end btn-page">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
