{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Home | Bingle {% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-11">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-7">
                        <h1>Borrow</h1>
                        <h1>Lend</h1>
                        <h1>Connect</h1>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3>
                            Hello Bookworms, Are you ready to embark on a literary journey while saving the
                            environment
                            one
                            page
                            at
                            a time and making unforgettable memories with fellow book lovers ?
                        </h3>
                        <br>
                        <h5>Don't miss out, start your journey here.</h5>
                        <br>
                        {% if user.is_authenticated %}
                        <div class="btn-box">
                            <a href="{% url 'new_home' %}" class="btn btn-primary">
                                Dashboard
                            </a>
                            <a href="{% url 'new_profile' %}" class="btn btn-danger">
                                My Profile
                            </a>
                        </div>
                        {% else %}
                        <div class="btn-box">
                            <a href="{% url 'login_view' %}" class="btn btn-info">
                                Login
                            </a>
                            <a href=" {% url 'register' %}" class="btn btn-danger">
                                Register
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-5">
                        <img class="custom-img" src="{% static 'mainapp/images/home-img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-11">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5">
                        <img class="custom-img" src="{% static 'mainapp/images/experience-img.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h1> How it Started ?</h1>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3>
                            Bingle originated from the minds of University of Sussex students, initially as a modest
                            academic project. Yet, it quickly evolved into a beacon of sustainability and community
                            for book lovers. Beyond assessment criteria, it now promotes healthy book exchange,
                            fostering connections and saving budgets.
                        </h3>
                        <br>
                        <a href="{% url 'new_about' %}">
                            <button class="btn btn-primary d-grid">
                                <span class="text-truncate w-100">Read More</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-11">
        <div class="card text-center">
            <div class="card-body">
                <div class="row">
                    <h2 class="text-center">Meet the Team</h2>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avtar bg-light-primary">
                                            <img class="user-avtar wid-45 rounded-circle"
                                                 src="/static/mainapp/images/Aman.jpg"
                                                 alt="DevOps">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-1">Aman Thapa Magar</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb-0">Back End & DevOps</h4>
                                            <span class="text-success fw-medium">Student ID - 277822</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avtar bg-light-primary">
                                            <img class="user-avtar wid-45 rounded-circle"
                                                 src="/static/mainapp/images/tom.webp"
                                                 alt="Full Stack">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-1">Tom Naccarato</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb-0">Full Stack</h4>
                                            <span class="text-success fw-medium">Student ID - 276187</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avtar bg-light-primary">
                                            <img class="user-avtar wid-45 rounded-circle"
                                                 src="/static/mainapp/images/moldy.webp"
                                                 alt="Back End & Documentation">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-1">Moldir Zhumakhazi</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb-0">Back End & Documentation</h4>
                                            <span class="text-success fw-medium">Student ID - 284496</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avtar bg-light-primary">
                                            <img class="user-avtar wid-45 rounded-circle"
                                                 src="/static/mainapp/images/Mya.png"
                                                 alt="Front End & Documentation">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-1">Mya Lwin </p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb-0">Front End & Documentation</h4>
                                            <span class="text-success fw-medium">Student ID - 284318</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avtar bg-light-primary">
                                            <img class="user-avtar wid-45 rounded-circle"
                                                 src="/static/mainapp/images/rohan.webp"
                                                 alt="Team Lead">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-1">Rohan Kadam</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb-0">Team lead, Front-End</h4>
                                            <span class="text-success fw-medium">Student ID - 276280</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avtar bg-light-primary">
                                            <img class="user-avtar wid-45 rounded-circle"
                                                 src="/static/mainapp/images/Rob.png"
                                                 alt="Back End">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-1">Rob Ryan</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb-0">Back End & Logics</h4>
                                            <span class="text-success fw-medium">Student ID - 260029</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avtar bg-light-primary">
                                            <img class="user-avtar wid-45 rounded-circle"
                                                 src="/static/mainapp/images/Jawad.png"
                                                 alt="Database">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-1">Jawad Nassar</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb-0">Database</h4>
                                            <span class="text-success fw-medium">Student ID - 276267</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-11">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="custom-img" src="{% static 'mainapp/images/about-img.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-5 text-center">
                        <h1>
                            What is Bingle ?
                        </h1>
                        <br>
                        <br>
                        <h4>
                            Welcome to Bingle, the friendly book lending app designed to make reading a joy
                            for
                            everyone. In a world where not everyone can afford to buy books or has space to
                            store
                            them, Bingle steps in to bridge the gap. Our mission is simple: to share books
                            among
                            readers, reducing waste and promoting environmental sustainability. <br><br>

                        </h4>

                    </div>
                    <h4>But Bingle isn't just about reading—it's about connecting with others who share
                    your
                    passion for books. Our community is a place where bookworms can come together to
                    share
                    recommendations, discuss their favorite reads, and even make new friends.
                    Whether you're
                    looking for your next literary adventure or eager to share a beloved book with
                    someone
                    else, Bingle is here to help you on your reading journey. <br><br>
                    So why not join us at Bingle today? Whether you're a devoted bookworm or just
                    enjoy
                    curling up with a good book now and then, you'll find a warm welcome and endless
                    reading
                    possibilities waiting for you here. Let's rediscover the magic of books
                    together, one
                        page at a time.</h4>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
