{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} Search | Bingle {% endblock %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'new_home' %}">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Search</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">Search</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Search <b> books around your area</b> </h2></div>
                <div class="col-sm-4">
                    <div class="search-box">
                        <i class="material-icons">&#xE8B6;</i>
                        <form class=" hidden" role="search" method="POST" id="search-form">
                            {% csrf_token %}
                            <input
                                    class="form-control me-2"
                                    type="search"
                                    placeholder="Search"
                                    name="searchquery"
                                    required aria-label="Search"
                            >
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if users_profiles %}
        <table class="table table-striped table-hover table-bordered" id="user-profile-table">
            <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Location</th>
                <th>Review</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in users_profiles %}
            <tr>
                <td>
                    {% if profile.profile_pic %}
                    <img class="rounded-circle user-avtar wid-50" src="{{ profile.profile_pic.url }}" alt="Profile Picture" style="max-width: 100px;">
                    {% else %}
                    <img class="rounded-circle user-avtar wid-50" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Default Profile Picture" style="max-width: 100px;">
                    {% endif %}
                </td>
                <td>{{ profile.user.username }}</td>
                <td>{{ profile.current_location }}</td>
                <td>{{ profile.review }}</td>
                <td>
                    {% if profile.user == request.user %}
                    <a href="{% url 'new_profile' %}" ><i class="fa-info"></i></a>
                    {% else %}
                    <a href="{% url 'viewprofile' profile.id %}"><i class="fa-info"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="clearfix">
            <div class="hint-text">Showing <b>{{ users_profiles.start_index }}</b> to <b>{{ users_profiles.end_index }}</b> of <b>{{ users_profiles.paginator.count }}</b> entries</div>
            <ul class="pagination">
                {% if users_profiles.has_previous %}
                <li class="page-item"><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item"><a href="?page={{ users_profiles.previous_page_number }}" class="page-link"><i class="fa fa-angle-left"></i></a></li>
                {% else %}
                <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item disabled"><a href="#" class="page-link"><i class="fa fa-angle-left"></i></a></li>
                {% endif %}

                {% for page_num in users_profiles.paginator.page_range %}
                <li class="page-item{% if page_num == users_profiles.number %} active{% endif %}">
                    <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                </li>
                {% endfor %}

                {% if users_profiles.has_next %}
                <li class="page-item"><a href="?page={{ users_profiles.next_page_number }}" class="page-link"><i class="fa fa-angle-right"></i></a></li>
                <li class="page-item"><a href="?page={{ users_profiles.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                {% else %}
                <li class="page-item disabled"><a href="#" class="page-link"><i class="fa fa-angle-right"></i></a></li>
                <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}