{% load static %}
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a class="m-header" href="{% url 'new_landing_page' %}">
            <h2>Bingle</h2>
            </a>
        </div>
        <div class="navbar-content">
            <div class="card pc-user-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            {% if profile_pic %}
                            <img class="user-avtar wid-45 hei-45 rounded-circle" src="{{ profile_pic.url }}" alt="Profile Picture" style="max-width: 100px;">
                            {% else %}
                            <img class="user-avtar wid-45 hei-45 rounded-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Default Profile Picture" style="max-width: 100px;">
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3 me-2">
                            <h6 class="mb-0">Hello, {{user.username}}</h6>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pc-navbar">
                <li class="pc-item pc-hasmenu">
                    <a href='/new_home/' class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-status-up"></use>
                                </svg>
                            </span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>


                <li class="pc-item">
                    <a href="{% url 'chat' %}" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-message-2"></use>
                                </svg>
                            </span>
                        <span class="pc-mtext">Chat</span></a>
                </li>
                <li class="pc-item">
                    <a href="{% url 'sample_search' %}" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-story"></use>
                                </svg>
                            </span>
                        <span class="pc-mtext">Search</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>