<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <h1>Add Book</h1>
    <h2>Welcome {{ user_name }}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br><br>
        <label for="owner">Owner:</label>
        <select name="owner" id="owner">
            <option value="{{ user_name }}">{{ user_name }}</option>
        </select><br><br>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>