<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LendBorrowApp{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'book_list' %}">My Books</a></li>
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li><a href="{% url 'lend_books' %}">Lend Books</a></li>
                <li><a href="{% url 'borrow_books' %}">Borrow Books</a></li>
                <li><a href="{% url 'logout1' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>